@import './variables.scss';
.project-header {
  background-color: #f9f8f8;
  margin: -20px -20px 0 -20px;
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #e1e1e1;
  .el-tag{
    font-size: $font-base;
  }
}
.project-list-content{
  position: relative;
  background: #fff url(../../assets/images/project-list-bg.jpg) repeat-y center top;
  min-height: 200px;
  padding-top: 40px;
  .project-list-status{
    list-style-type: none;
    margin: 0;
    float: right;
    padding-bottom: 20px;
    >li{
      float: left;
      color: #666;
      font-size: $font-base;
      margin-left: 10px;
    }
  }
  &:before{
    content:"";
    height: 120px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10px;
    display: block;
    z-index: 0;
    background: #fff;
  }
  .list-mid-title{
    width: 120px;
    position: absolute;
    margin-left: -60px;
    left: 50%;
    font-size: 20px;
    color: #848484;
    line-height: 62px;
    margin-top: 20px;
    background-color: #F3F3F3;
    z-index: 1;
  }
  .title{
    height: 62px;
    text-align: center;
    background-color: #F3F3F3;
    .title-bg{
      position: relative;
      width: 200px;
      top: -10px;
      display: inline-block;
      border-radius: 3px;
      line-height: 62px;
      .text-span{
        position: relative;
        z-index: 1;
        font-size: 38px;
        color: #fff;
      }
      &:before{
        content:'';
        width: 102px;
        height: 80px;
        display: block;
        position: absolute;
        top: 24px;
        left: 49px;
        webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #2692FF;
        transform: rotate(156deg)skew(44deg);
        z-index: 0;
      }
      &.bg-blue{
        background-color: #2692FF;
        &:before{
          background-color: #2692FF;
        }
      }
      &.bg-orange{
        background-color: #FFAB26;
        &:before{
          background-color: #FFAB26;
        }
      }
    }
  }
  .project-list{
    color: #8e8f8f;
    font-size: $font-base;
    padding: 13px;
    border-left-width: 23px;
    border-left-style: solid;
    margin-top: 35px;
    margin-left: 25px!important;
    margin-right: 25px!important;
    border-radius: 6px;
    background-color: #f6f6f6;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
    &.unfinish-bg{
      border-left-color: #ACACAC ;
    }
    &.danger-bg{
      border-left-color: #FC557D ;
    }
    &.finish-bg{
      border-left-color: #2692FF;
    }
    .el-col{
      &:last-child{
        position: relative;
        &:after{
            content:url(../../assets/images/bg-icon.jpg);
            position: absolute;
            right: -29px;
            top: -10px;
        }
      }
    }
    &.icon-star-full{
      &:before{
        position: absolute;
        left: -18px;
        color: #FFD004
      }
    }
  }
}
